.container {    
  display: flex;    
  /* overflow-x: auto; */
  height: 300px;
}

.container img {   
   margin-right: 15px;
   height: auto;
}

.container::-webkit-scrollbar {    
  display: none;
  width: 1px;
}

body {   
  display: flex;   
  align-items: center;   
  height: 70vh;
  overflow-y: auto;
  width: 80%;
}

@media screen and (max-height: 450px) {
  body {
    height: 100%;
  }
  
}

img {
  cursor: pointer;
}