.projects {
  margin-bottom: 150px;
}

a {
  text-decoration:none;
  color: black;
}

p {
  line-height: 1.2;
}

.pic {
  cursor: pointer;
  border-radius: 15px;
  width: auto;
  max-height: 200px;
  margin: 0;
}

.wrapper { 
  overflow:hidden;
  width: 80%;
}

.wrapper img {
  min-height: 170px;
}

#one {
  margin-left:30%;
  background-color: gray;
  float:left; 
  margin-right:35px;
  width: 350px; 
}

#two { 
  background-color: transparent;
  overflow:hidden;
  margin:10px;
   min-height:170px;
}

@media screen and (max-width: 450px) {
   #one { 
    float: none;
    margin-right:0;
    margin-left: 0;
    width:auto;
  }
  .pic { 
      float: none;
      margin-right:0;
      width:auto;
    }
    .wrapper {
      width: 100%;
    }
  }

