#resume {
  flex-direction: column;
  margin: 20px;
  overflow-x: hidden;
}

.wrapper2 {
  overflow: visible;
}

.pic {
  cursor: pointer;
  border-radius: 15px;
  width: auto;
  max-height: auto;
  margin: 0;
}

.resumelink {
  text-align: center;
  width: auto;
}

#three {
  margin-left:30%;
  background-color: gray;
  float:left; 
  margin-right:35px;
  /* margin-top: 20px; */
}

#four { 
  background-color: transparent;
  margin-bottom:0;

}

#five {
  margin-left:30%;
  background-color: gray;
  float:left; 
  margin-right:35px;
  width: 400px;

}

#six { 
  background-color: transparent;
  margin:10px;
  height: 250px;


}

@media screen and (max-width: 450px) {
   #three, #four, #five, #six { 
    float: none;
    margin-right:0;
    margin-left: 0;
    width: 300px;
    height: auto;
    align-items: center;
  }

.link {
    margin-top: 60px;
  }
  #six {
    margin-bottom: 100px;
  }
  .wrapper2 {
    overflow: scroll;
  }
  .pic { 
      float: none;
      margin-right:0;
      width:100%
      ;
    }
  }
