.myResume {
  margin-bottom: 150px;
}

.topSection { 
  overflow:hidden;
  margin-bottom: 0;
  width:80%;
  max-height: 200px;
}
.midSection {
  overflow:hidden;
  margin-bottom: 0;
  width:80%;
}

#myID {
  background-color: transparent;
  min-height: 170px;
  float:left; 
  margin-left:30%;
  margin-right:35px;
  text-align: center;
}

.school {
  margin: 0;
  text-align: center;
}

#edu { 
  background-color: transparent;
  overflow:hidden;
  min-height:170px;

}

.text-shadow {
  text-shadow: black .25px 0 2px;
}

.name {
  margin-top: 8px;
}

@media screen and (max-width: 400px) {
   #myID { 
    float: none;
    margin-right:0;
    /* width:auto;     */
  }
}