#about {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  max-height: 450px;
  overflow-y: hidden;
  /* overflow-x: auto; */
}

@media only screen and (max-height: 450px) {
  #about {width: 100%; overflow: scroll; float: left;}
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


:root {
  --typewriterSpeed: 3s;
  --typewriterCharacters: 24;
}

ms ::-webkit-scrollbar {
  display: none;
}

#intro {
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 60px;
}

#intro::before,
#intro::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -5px;
  left: 0;
}

#intro::before {
  background: #f1f1f1;
  -webkit-animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
          animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

#intro::after {
  width: 0.125em;
  background: black;
  -webkit-animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
          animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  display: flex;
  max-height: 460px;
  color: black;
  font-size: 1.2rem;
  opacity: 0;
  transform: translate(-50%, -50%, -50%);
  -webkit-animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
          animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@media screen and (max-width: 1350px) {
  .subtitle {
    overflow: scroll;
  }
  ms .containe::-webkit-scrollbar::-webkit-scrollbar {
    display: none;
  }
}


@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}