img {
  margin-top: 25px;
  width: 30rem;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}

.image {
  height: auto;
  cursor: pointer;
}

.grow { 
  transition: transform .2s; 
}
  
.grow:hover { 
  transform: scale(1.2);
}

@media only screen and (max-height: 450px) {
  #about {width: 100%; overflow: scroll; float: left;}
}

@media only screen and (max-height: 450px) {
  img {width: 100%; height: 300px; float: left;}
}


/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


/* .container{
  height: 400px;
  padding: 0;
  color: #f1f1f1; 
  font-family: 'Anonymous Pro', monospace;   
  background-color: rgb(25,25,25);
}  */

:root {
  --typewriterSpeed: 6s;
  --typewriterCharacters: 24;
}

#about {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  text-shadow: 1px 1px 4px rgb(169 169 169);
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ms ::-webkit-scrollbar {
  display: none;
}

#intro {
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#intro::before,
#intro::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -5px;
  left: 0;
}

#intro::before {
  background: #f1f1f1;
  -webkit-animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
          animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

#intro::after {
  width: 0.125em;
  background: black;
  -webkit-animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
          animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  max-height: 460px;
  color: black;
  font-size: 1.2rem;
  overflow: hidden;
  opacity: 0;
  transform: translateY(3rem);
  -webkit-animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
          animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@media screen and (max-width: 1350px) {
  .subtitle {
    overflow: scroll;
  }
}


@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}