.container {
  display: flex;
  justify-content: center;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
 
.image {
  width: 500px;
  height: auto;
  cursor: pointer;
  margin-top: 25px;
  width: 30rem;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  cursor: pointer;
  color: white;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}

.container:hover .overlay {
  opacity: 1;
}


.grow { 
  transition: transform .2s; 
}
  
.grow:hover { 
  transform: scale(1.2);
}

@media only screen and (max-height: 450px) {
  #about {width: 100%; overflow: scroll; float: left;}
}

@media only screen and (max-height: 450px) {
  img {width: 100%; height: 300px; float: left;}
}