.mainSection {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}

.mainSection:after {
  content: "";
  display: block;
}

.foot:after {
  height: 142px;
}

footer {
position: fixed;
margin-top: 2%;
height: 90px; 
width: 100%;
text-align: center;
font-size: 0.8em;
bottom: -20px;
background: #f1f1f1;
}

.foot {
  position: fixed;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%, -50%);
}


footer ul {
  list-style-type: none;
}
footer ul li {
  display: inline;
  margin: 0 15px;
}

/* social icons */
#social-icons {
  text-align: center;
  font-size: 25px;
}

#social-icons h2 {
  color: #fff;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 100;
}

#social-icons .social {
  padding-left: 0px;
}

#social-icons li a {
  color: black;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  transition: ease 0.3s;
}

#social-icons li a:hover {
  color: rgb(97, 46, 192);
}
.social:hover > li a {
  opacity: 0.5;
}
.social:hover > li a:hover {
  opacity: 1;
}