html {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.01em;
  background: #f1f1f1;
  /* overflow: hidden; */
  bottom: 100;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 8%;
}

@media screen and (max-width: 400px) {
  main {
    margin-top: 18%;
  }
}

.logo {
  max-width: 100px;
  margin-top: 0px;
  margin-left: -15px;
  cursor: pointer;
}

header {
  position: fixed;
  margin-left: 5px;
  margin-bottom: 25px;
  text-align: left;
  line-height: .35rem;
  letter-spacing: 1%;
  margin-left: 15px;
  top: 0;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}