html {
overflow-y: scroll; 
overflow-x: scroll;
height: 100%;
}

body {
margin:0 auto;
font-family: 'Raleway', sans-serif;
font-weight: 400;
line-height: 187.5%;
letter-spacing: 0.01em;
background: #f1f1f1;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.Containers {
  position: absolute;
}

.logo {
  max-width: 100px;
  margin-top: 0px;
  margin-left: -15px;
  cursor: pointer;
}

.centered {
  position: fixed;
  top: 0;
  left: 40%;
  transform: translate(-50%, -50%);
}

header {
  position: fixed;
  margin-left: 5px;
  margin-bottom: 25px;
  text-align: left;
  line-height: .35rem;
  letter-spacing: 1%;
  /* text-shadow: 1px 1px 4px rgb(169 169 169); */
  /* float: left; */
  margin-left: 15px;
  top: 0;
  left: 0;
}

.mainImg {
  margin-left: 25%;
  margin-right: 25%;
}

@media screen and (max-height: 450px) {
  #mainimg {
    height: 120px;
    overflow: hidden;
  }
}

@media only screen and (max-height: 450px) {
  #about { 
    width: 100%; 
    overflow: scroll; 
    float: left;
  }
}

@media only screen and (max-height: 450px) {
  img {
    width: 100%; 
    height: 300px; 
    float: left;
  }
}

.grow { 
  transition: transform .2s; 
}
  
.grow:hover { 
  transform: scale(1.2);
}

.shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}



